<div class="container p-md-5 p-3">

    <h1 class="text-center">Biography</h1>
    <div class="text-center">
        <img src="@/assets/mebaby.png" class="img-fluid">
        <p class="lead">Hello my friend. My name is Danilo and I was born in Slovenia and the Big Bang happened in 1987
            on June.</p>
    </div>

    <diw class="row">
        <div class="col-md-10">
            <p>As a young boy I was very active in sports. For years i was training various martial arts and also
                gymnastic by my father. That made me love sport and nature as we were both hiking a lot.</p>
            <p>I always loved art in any way... you know when you grab something and make something out of it? Well when
                I was 15 I started to get involved with computers of that time and later started to learn building
                websites. I first started with HTML and later CSS. I made my first website not long after that. Few
                others were built later.</p>
        </div>
        <div class="col-md-2 text-center">
            <img src="@/assets/schoolboy.png" class="img-fluid" width="300">
        </div>
    </diw>

    <div class="row">

        <div class="col-md-10">
            <p>I was visiting a high school for electricians and after finishing that I ended up in a coal mine. I was
                there for more than 8 years and during that time i was studying hypnotherapy, eastern astrology and
                vastu architecture and was traveling around the world as soon as i got a chance (mostly India and North
                America). In all those years i've build few websites and learnt as much as i could. I made websites for
                me, for my business as a Hypnotherapist and for my friends.</p>
            <p>So I was building websites in WordPress with Elementor and other plugins but that was boring and it just
                wasn't me. Like I said,I love art, I like making things from scratch and wrapping my energy around it.
                So i decided to look for a mentor to teach me and I finally found one. Building frontend and backend is
                something i love doing and it's something that has my attention.</p>
        </div>
        <div class="col-md-2 text-center">
            <img src="@/assets/programing.png" class="img-fluid" width="300">
        </div>
    </div>

    <div class="text-center">
        <h1 class="my-3">My WorkSpace</h1>

        <p class="lead">After some time in Software development i ended up making my own working space.</p>

        <img src="@/assets/media/1.jpg" class="img-fluid shadow border" width="700">
    </div>

</div>
