<div class="container">
    <h1 class="p-2 text-center">Galerry</h1>
    <p class="lead text-center">All the pictures of me and those that i took or made. I love photography using camera or drone.</p>
    <swiper
            :effect="'coverflow'"
            :grabCursor="true"
            :centeredSlides="true"
            :slidesPerView="'auto'"
            :coverflowEffect="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    }"
            :pagination="true"
            :modules="modules"
            class="mySwiper"
    >
        <swiper-slide><img src="@/assets/media/2.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/3.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/4.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/5.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/6.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/7.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/8.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/9.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/10.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/11.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/12.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/13.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/14.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/15.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/16.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/17.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/18.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/19.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/20.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/21.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/23.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/24.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/25.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/26.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/27.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/28.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/29.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/30.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/31.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/32.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/33.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/34.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/35.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/36.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/37.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/38.jpg" style="max-height: 600px"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/39.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/40.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/41.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/42.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/43.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/44.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/45.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/46.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/47.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/48.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/49.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/50.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/51.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/52.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/53.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/54.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/55.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/56.jpg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/57.jpeg"/></swiper-slide>
        <swiper-slide><img src="@/assets/media/58.jpg"/></swiper-slide>
    </swiper>

</div>
